/*Patricia Taborda*/
/*rgba(0, 0, 0, 0.2);*/
.navigation__checkbox {
    display: none;
}

.navigation__button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    background-color: #3e5a78;
    border-radius: 4px;
    z-index: 300;
    padding: 10px;
    cursor: pointer;
}

@media screen  and (min-width: 768px) {
    .navigation__button {

        height: 4rem;
        width: 4rem;
    }
}

.navigation__background {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    z-index: 100;
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

@media screen and (min-width: 768px) {
    .navigation__background {

        height: 1rem;
        width: 1rem;
    }
}

.navigation__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    width: 0;
    visibility: hidden;
    z-index: 200;
    transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background: rgba(52, 82, 113, 0.95);

}

.navigation__nav ul li a {
    display: block;
    padding: 25px 0;
    min-width: 190px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: #345271;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.navigation__nav ul li i {
    display: block;
    margin-top: 10px;
    font-size: 40px;
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    list-style: none;
}

.navigation__item {
    margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: 2.4rem;
    text-decoration: none;
    transition: all .2s;
}

@media(min-width: 768px) {
    .navigation__link:link,
    .navigation__link:visited {
        font-size: 1rem;
    }
}

.navigation__link span {
    margin-right: 1.5rem;
    display: inline-block;
}

.navigation__link:hover {
    color: #C1D0D0;
    transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.navigation__icon {
    position: relative;
    margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
    .navigation__icon {
        margin-top: 1.2rem;
    }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block;
    width: 2.2rem;
    height: 5px;
    background-color: #fafafa;
}

@media (min-width: 768px) {
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        width: 2.5rem;
    }
}

.navigation__icon::before,
.navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 200ms;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}



/*-----------------------*/
#by {
  font-family: 'Arima Madurai', cursive;
  color: #4A676A;
  font-size: 10px;
  position: absolute;
  top: 22%;
  right: 2.5%; 
}

/*
light-blue: #C1D0D0;
dark-blue: #4A676A;
cream: #FFEAA5;
yellow: #FFB037;
*/

/* ------------------------- */
/* Estilos Galeria */
/* ------------------------- */


.download {
    padding: 40px 0;
    background-color: #93cece;
}


.materialbox-caption {
     bottom: 30px;
     right: 0;
     width: 40%;
     height: auto;
     padding: 10px;
     margin: auto;
     background: #000;
     box-shadow: 5px 5px #fff;
     font-size: 20px;
     color: #fff;
     line-height: 28px;
}

.galeria img {

     border-radius: 5px;
}

.galeria .col {
     margin: 0px;
}
.row .col {

    padding: 0px;
}

.row {
margin-bottom: 0px;
}

.teal {
    background-color: #fafafa !important;
}

.boton-transparente {
    display: inline-block;
    padding: 12px 36px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
}

.boton-transparente-video {
    display: inline-block;
    padding: 18px 46px;
    color: #000;
    font-size: 24px;
}



#download-button {
    margin-top: 9px;
    padding: 1px;
    color: #000;
    font-size: 20px;
    float: left;

}


@media screen and (max-width: 600px){
     .materialbox-caption {
          width: 90%;
     }
}

@media screen and (max-width: 992px){
     .materialbox-caption {
          width: 70%;
     }
}

#features {
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature-icon {
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    border: solid 2px #4e9ba3;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}
.feature-icon i {
    color: #4e9ba3
}

.debajo {
  background-color: rgb(255,0,0);
  background-color: rgba(255,0,0,.8);
}
.sobre {
 position:absolute;
 top:30%;
 left:20%;
 border:none;
}

#about {

    height: 150px;

}

#centrar{

    margin-top: 45px;

}